absl-py==2.0.0
alembic==1.12.1
asciitree==0.3.3
astor==0.8.1
attrs==23.1.0
beautifulsoup4==4.12.2
blinker==1.7.0
cachetools==5.3.2
certifi==2023.11.17
charset-normalizer==3.3.2
clearml==1.13.2
click==8.1.7
cloudpickle==2.2.1
cmake==3.27.7
colorama==0.4.6
coloredlogs==15.0.1
colorlog==6.7.0
contextlib2==21.6.0
contourpy==1.2.0
cucim==23.10.0
cycler==0.12.1
databricks-cli==0.18.0
docker==6.1.3
einops==0.7.0
entrypoints==0.4
fasteners==0.19
filelock==3.11.0
fire==0.5.0
Flask==3.0.0
flatbuffers==23.5.26
fonttools==4.45.1
fsspec==2023.10.0
furl==2.1.3
gdown==4.7.1
gitdb==4.0.11
GitPython==3.1.40
google-auth==2.23.4
google-auth-oauthlib==1.1.0
greenlet==3.0.1
grpcio==1.59.3
gunicorn==21.2.0
h5py==3.10.0
huggingface-hub==0.19.4
humanfriendly==10.0
idna==3.4
imagecodecs==2023.9.18
imageio==2.33.0
importlib-metadata==6.8.0
itk==5.3.0
itk-core==5.3.0
itk-filtering==5.3.0
itk-io==5.3.0
itk-numerics==5.3.0
itk-registration==5.3.0
itk-segmentation==5.3.0
itsdangerous==2.1.2
Jinja2==3.1.2
joblib==1.3.2
json-tricks==3.17.3
jsonschema==4.20.0
jsonschema-specifications==2023.11.1
kiwisolver==1.4.5
lazy_loader==0.3
lit==17.0.5
lmdb==1.4.1
lpips==0.1.4
Mako==1.3.0
Markdown==3.5.1
MarkupSafe==2.1.3
matplotlib==3.8.2
mlflow==2.8.1
monai==1.3.0
mpmath==1.3.0
msgpack==1.0.7
mypy==1.7.1
mypy-extensions==1.0.0
networkx==3.2.1
nibabel==5.1.0
ninja==1.11.1.1
nni==3.0
nodeenv==1.8.0
nptyping==2.5.0
numcodecs==0.12.1
numpy==1.26.2
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-cupti-cu11==11.7.101
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
nvidia-cufft-cu11==10.9.0.58
nvidia-curand-cu11==10.2.10.91
nvidia-cusolver-cu11==11.4.0.1
nvidia-cusparse-cu11==11.7.4.91
nvidia-ml-py==12.535.133
nvidia-nccl-cu11==2.14.3
nvidia-nvtx-cu11==11.7.91
oauthlib==3.2.2
onnx==1.15.0
onnxruntime==1.16.3
openslide-python==1.1.2
optuna==3.4.0
orderedmultidict==1.0.1
packaging==23.2
pandas==2.1.3
pathlib2==2.3.7.post1
Pillow==10.1.0
prettytable==3.9.0
protobuf==4.23.4
psutil==5.9.6
pyarrow==14.0.1
pyasn1==0.5.1
pyasn1-modules==0.3.0
pydicom==2.4.3
PyJWT==2.8.0
pynrrd==1.0.0
pynvim==0.4.3
pyparsing==3.1.1
pyright==1.1.337
PySocks==1.7.1
python-dateutil==2.8.2
PythonWebHDFS==0.2.3
pytorch-ignite==0.4.11
pytz==2023.3.post1
PyYAML==6.0.1
querystring-parser==1.2.4
referencing==0.31.0
regex==2023.10.3
requests==2.31.0
requests-oauthlib==1.3.1
responses==0.24.1
rpds-py==0.13.1
rsa==4.9
schema==0.7.5
scikit-image==0.22.0
scikit-learn==1.3.2
scipy==1.11.4
simplejson==3.19.2
six==1.16.0
smmap==5.0.1
soupsieve==2.5
SQLAlchemy==2.0.23
sqlparse==0.4.4
sympy==1.12
tabulate==0.9.0
tensorboard==2.15.1
tensorboard-data-server==0.7.2
tensorboardX==2.6.2.2
termcolor==2.3.0
threadpoolctl==3.2.0
tifffile==2023.9.26
tokenizers==0.12.1
tomli==2.0.1
torch==2.0.1
torchaudio==2.0.2
torchvision==0.15.2
tqdm==4.66.1
transformers==4.21.3
triton==2.0.0
typeguard==4.1.2
typing_extensions==4.8.0
tzdata==2023.3
urllib3==2.1.0
wcwidth==0.2.12
websocket-client==1.6.4
websockets==12.0
Werkzeug==3.0.1
zarr==2.16.1
zipp==3.17.0
